<div class="result bg-light">  
  <% if @question.score<=20 %>
    <h1 class="text-primary">残念</h1>
  <% elsif @question.score>=30 && @question.score<=60 %>
    <h1 class="text-success">よくできました！</h1>
  <% else %>
    <h1 class="text-danger">素晴らしい！</h1>
  <% end %>
  <h2>あなたの得点は<span class="font-weight-bold"><%= @question.score %></span>点です</h2>
</div>