/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';

.main_content{
    display:flex;
    justify-content:space-around;
    margin:20px 0;
}

.new_review{
    width:35%;
    padding:20px;
    border-radius:5px;
    height:600px;
}

.review_index{
    width:55%;
    padding:20px;
    border-radius:5px;
}
.review_content{
    display:flex;
    border:solid 1px gray;
    margin:10px 0;
    border-radius:10px;
    padding:10px;
    font-size:small;
}
.question_box{
    width:70%;
    margin:20px auto;
    padding:10px;
}
.question_content{
    margin-left:50px;
}

#nav_icon{
    margin:0 auto;
}

body{
    background-color:#E7E1D7;
}

.nav-menu{
    border-top:5px solid black;
    text-align:center;
    height:80px;
    line-height:80px;
}

.nav_content{
    border-left:2px solid black;
    padding:0 5px;
    margin:0 10px;
}

.top{
    background-image:url(top.jpeg);
    background-size:cover;
    background-position:center;
    height:600px;
    overflow:hidden;
}
.top_content{
    margin-top:200px;
    color:white;
    text-align:center;
}

.tag_list{
    padding:8px;
    border-radius:10px;
    background-color:#e6d2f0;
}

.tag_head{
    font-weight:bold;
}

.result{
    padding:50px 20px;
    width:50%;
    margin:30px auto 0;
    text-align:center;
}

.tab_active{
    color:red;
}

.review_box{
    display:none;
}
.box_active{
    display:block;
}


.review_content_box{
    height:200px;
    margin:10px;
    padding:10px;
    border:1px solid gray;
    border-radius:10px;
}
.style_box{
    display:flex;
}